@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-background transition-colors duration-700;
  }
}

[data-theme="dark"] {
  --background: #1c1b22;
  --background-secondary: theme(colors.gray.700);
  --accent-light: theme(colors.blue.300);
  --accent-medium: theme(colors.blue.500);
  --accent-dark: theme(colors.blue.600);
  --type-primary: theme(colors.gray.100);
  --type-secondary: theme(colors.gray.400);
  --type-tertiary: theme(colors.gray.400);
}

[data-theme="light"] {
  --background: #ffffff;
  --background-secondary: theme(colors.gray.200);
  --accent-light: theme(colors.blue.300);
  --accent-medium: theme(colors.blue.500);
  --accent-dark: theme(colors.blue.600);
  --type-primary: theme(colors.gray.900);
  --type-secondary: theme(colors.gray.600);
  --type-tertiary: theme(colors.gray.600);
}
